<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_ibu_ayu_v2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icons2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/cerclebackgroundyello"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projectibuayuv2">
        <activity android:name=".Profil" />
        <activity android:name=".Definisi" />
        <activity android:name=".Sejarah" />
        <activity android:name=".Etika" />
        <activity android:name=".Anatomi" />
        <activity android:name=".Fisiologi" />
        <activity android:name=".Metode" />
        <activity android:name=".Video11" />
        <activity android:name=".Video10" />
        <activity android:name=".Video9" />
        <activity android:name=".Video8" />
        <activity android:name=".Video7" />
        <activity android:name=".Video6" />
        <activity android:name=".VideoMenu" />
<!--        segment menu bagian terlentang-->
        <activity android:name=".VideoButton" />
        <activity android:name=".Button1" />
        <activity android:name=".Button2" />
        <activity android:name=".Segment" />
        <activity android:name=".Leher" />
        <activity android:name=".Bahu" />
        <activity android:name=".PunggungPinggang" />
        <activity android:name=".Bokong" />
        <activity android:name=".PahaBelakang" />
        <activity android:name=".BetisBelakang" />
        <activity android:name=".TelapakKaki" />

<!--        segment menu bagian terlentang-->
        <activity android:name=".SegmentTerlentang" />
        <activity android:name=".Dada" />
        <activity android:name=".Perut" />
        <activity android:name=".PahaDepan" />
        <activity android:name=".BetisDepan" />
        <activity android:name=".PunggungKaki" />
        <activity android:name=".Lengan" />
        <activity android:name=".Kepala" />

        <activity android:name=".TheoryMenu" />
        <activity android:name=".Video5" />
        <activity android:name=".MainActivity" />
        <activity android:name=".About" />
        <activity android:name=".Video3" />
        <activity android:name=".Video4" />
        <activity android:name=".Video2" />
        <activity android:name=".Video1" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>